node_modules
public
.tmp
.sass-cache
.idea
*.iml
client/bower_components
client/index.html
dist
coverage
/server/config/local.env.js

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.sample
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

*.log
