node_modules
public
.tmp
.idea
*.iml
client/bower_components
dist
/server/config/local.env.js

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
