<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container">
  <p>Local neural network training test</p>
  <div class="row">
    <div class="col-md-3 col-sm-3 col-xs-6">
      <canvas id="numbersCanvas" width="300" height="300" ng-init="loadNumbers()">
      </canvas>
    </div>
    <div class="col-md-3 col-sm-3 col-xs-6">
      <canvas id="numberCanvas" width="30" height="30">
      </canvas>
    </div>
    <div class="col-md-6 col-sm-6  col-xs-12">
      <div class="input-group">
        <span class="input-group-addon" id="input-pick">Number?</span>
        <input id="input-pick-control" type="text" class="form-control" ng-model="pickNumber" ng-change="nextNumber();"
               aria-describedby="input-pick"/>
      </div>
      <div>
        <button type="button" id="nextButton"
                class="btn btn-success btn-block animate-hide" ng-click="nextNumber()">Next
        </button>
      </div>
      <div>
        <button type="button" id="trainButton"
                class="btn btn-success btn-block animate-hide" ng-click="trainNetwork()">Train</button>
      </div>
    </div>
  </div>

  <p class="help-block">
  <pre>{{ infoMsg }}</pre>
  </p>

</div>
